body {
    background-image: url(/img/fondo1.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav a{
    font-weight: 600px;
    padding-right: 10px;
}


.logo{
    display: flex;
    align-items: center;
}
body {
    font-family: sans-serif;
    margin: 0;
}

.logo img{
    height: 90px;
    align-items: 10px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}
.img {
    background-image: center; 

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
