body{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.barra_superior {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242424;
  width: 100%;
  min-width: 300px;
  border-radius: 10px;
}
.logos_rrss{
  list-style-type: none;
  margin: 0;
  text-align: center;
  
}

.indice {
  float: left;
}

.indice a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.indice a:hover {
  background-color: rgb(26, 10, 10);
}

.iconos{
  float:right;
  padding:10px 80px;
}

.baner{
    width:100%;
    min-width: 100px;
    height: 450px;
    border-radius: 15PX;
    background-position: center;
}